
.referralSection.pad img{
    padding: 40px!important;
}
.bg-w.ptl0{
    padding-top: 0px!important;
    padding-left: 0px!important;
}
.mb15{
    margin-bottom: 15px;
}
.reflink{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reflink label{
    font-size: 11px
}