@import "./../../colors";

.moduleUnderMaintenance{
    .maintenanceContent{
        display:flex;
        align-items: center;
        justify-content: center;
        background:rgba($white, 0.5);
        border:1px dashed rgba($blue, 0.2);
        border-radius:15px;
        padding:15px;
        box-sizing: border-box;

        .maintenanceIcon{
            display:flex;
            align-items: center;
            justify-content: center;
            color:$blue;
            margin-right:10px;

            span{
                font-size:$text-medium-header;
            }
        }
        .maintenanceText{
            font-size:$text-small;
            font-weight:600;
            color:$blue;
        }
    }
}
