@import "../../../../../responsiveBreakpoints";

.verificationBusiness {
    h3 {
        margin-bottom: 30px;
    }
    img {
        display: inline-block;
        max-width: 60%;
        margin: 0 auto;
        width: 450px;
    }
}

.tex-center{
    text-align: center;
}
.mt2{
   margin-top: 2rem;
}