.termsPage {
    h3 {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    ul {
        margin-bottom: 1em;
        li {
            margin-bottom: 1em;
        }
    }
    .getPdfTerms {
        margin-top: 3em;
    }
}
