@import "../../colors.scss";
@import "../../responsiveBreakpoints.scss";

.paginationBox {
    margin: 15px auto 15px;
    display: block;
    @media #{$lg} {
        margin: 30px auto 15px;
        max-width: 300px;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            // border: 1px solid rgba($blue, 0.4);
            border: 1px solid #6d71ee;
            margin: 0 2px;
            line-height: 0.75rem;
            cursor: pointer;
            border-radius: 50%;
            font-size: 0.75rem;
            &.active,
            &:hover {
                // background-color: $blue;
                background-color: #6d71ee;
                color: #fff;
            }
            &[data-page=""] {
                pointer-events: none;
            }
            .material-icons {
                line-height: 0.75rem;
                font-size: 0.75rem;
            }
        }
    }
}
