@import "./../../../colors";

.transactionDescription{
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom:20px;

    .transactionDescriptionText{
        flex:1;
        font-size:$text-small;
        font-weight:500;
        color:rgba($navy, 0.9);
        text-align: justify;
        line-height:1.5em;
    }
    .transactionDescriptionImg{
        width: 80px;
        margin-left:10px;

        img{
            width:100%;
        }
    }
}
