@import "./../../../../colors.scss";
@import "./../../../../responsiveBreakpoints.scss";

.workspaceHistory {
  .preloaderWrapper {
    min-height: 130px;
  }
}
.tbSpace{
  margin-top: -15px;
  margin-bottom: 2rem!important;
}