@import "./../../colors.scss";

.searchContainer {
    position: relative;
    .material-icons {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        font-size: $text-small;
        padding: 5px;
        background-color: #fff;
        border: none;
        outline: none;
        color: rgba($color: $navy, $alpha: 0.5);
        cursor: pointer;
        z-index: 2;
        &:focus {
            outline: none;
        }
    }
}

.searchbox{
  width: 200px!important;
}
.searchbox .kInput .kInputInside {
    border-radius: 50px!important;
}
.singleCurrencyBlock .change.falling {
    color: #5e62ec!important;
    font-weight: 600!important;
}