@import "../../../../colors.scss";
@import "../../../../responsiveBreakpoints.scss";

.referralSection {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba($color: $navy, $alpha: 0.3);
    &:last-child {
        border-bottom: none;
    }
    @media #{$xl} {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .row {
        width: auto;
        @media #{$md} {
            margin: 0 -30px;
        }
        .col {
            flex-basis: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            @media #{$md} {
                padding: 0 30px;
                flex-basis: 50%;
            }
            &.order-2 {
                @media #{$md} {
                    order: 2;
                }
            }
        }
    }
    .content {
        .title {
            font-size: $text-medium;
            line-height: 1.3em;
            font-weight: 600;
            margin: 0 0 1em;
        }
    }
    .img {
        display: block;
        width: 100%;
        img {
            position: relative;
            display: block;
            width: 100%;
        }
    }
}
