$lblue: #f0f3f8;
$lblue2: #e7ebf3;
$lblue3: #f3f8ff;
$navy: #10253b;
$lnavy: #617589;
$blue: #4f54e4;
// $blue: #2684fe;
//$blue: #0066ff;
$blue2: #08b7e4;
//$blue2: #00ccff;
$blue3: #1169db;
//$blue3: #0066cc;
$white: #ffffff;
$white2: #f8f8fa;
$red: #de0e5c;
$yellow: #f1c100;
$green: #0ede53;

$text-super-small: 10px;
$text-small: 12px;
$text-medium: 14px;
$text-big: 16px;
$text-large: 20px;
$text-header: 24px;
$text-medium-header: 18px;


@mixin loaderPlaceholder {
    background: linear-gradient(
                    90deg,
                    rgba($navy, 0.025),
                    rgba($navy, 0.075),
                    rgba($navy, 0.025)
    );
    background-size: 200% 10%;
    animation: boxPlaceholderAnimation linear 3s infinite;
}

@keyframes boxPlaceholderAnimation {
    0% {
        background-position: 10% 10%;
    }
    50% {
        background-position: -100% 10%;
    }
    100% {
        background-position: 10% 10%;
    }
}
