@import "./../../../colors.scss";
@import "./../../../responsiveBreakpoints.scss";

@keyframes blobMovment1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
    // 0% {
    //     top: -8%;
    //     left: auto;
    //     right: 10%;
    //     transform: rotate(0deg);
    // }
    // 20% {
    //     top: -4%;
    //     left: auto;
    //     right: 5%;
    //     transform: rotate(60deg);
    // }
    // 60% {
    //     top: 0%;
    //     left: auto;
    //     right: 10%;
    //     transform: rotate(120deg);
    // }
    // 80% {
    //     top: -4%;
    //     left: auto;
    //     right: 5%;
    //     transform: rotate(60deg);
    // }
    // 100% {
    //     top: -8%;
    //     left: auto;
    //     right: 10%;
    //     transform: rotate(0deg);
    // }
}
@keyframes blobMovment2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.referralHomeSection {
    position: relative;
    display: flex;
    margin: 30px 0;
    flex-flow: column nowrap;
    z-index: 2;
    @media #{$lg} {
        flex-flow: row nowrap;
    }
    .blob {
        position: absolute;
        z-index: 1;
        &.blob1 {
            display: none;
            top: -8%;
            left: auto;
            right: 10%;
            width: 194px;
            height: 178px;
            transform: rotate(0deg);
            animation: blobMovment1 320s infinite linear;
            z-index: 3;
            @media #{$xxl} {
                display: block;
            }
        }
        &.blob2 {
            display: none;
            top: -35px;
            left: 45%;
            width: 159px;
            height: 159px;
            animation: blobMovment2 360s infinite linear;
            @media #{$lg} {
                display: block;
            }
        }
        &.blob3 {
            top: 5%;
            left: 10%;
            width: 86px;
            height: 86px;
            animation: blobMovment2 180s infinite linear;
            z-index: 2;
        }
        &.blob3ghost {
            top: calc(5% - 20px);
            left: calc(10% + 20px);
            width: 106px;
            height: 106px;
            animation: blobMovment2 200s infinite linear;
            z-index: 1;
            filter: saturate(0.3) blur(5px);
            opacity: 0.6;
        }
        &.blob4 {
            display: none;
            top: 75%;
            left: 30%;
            width: 194px;
            height: 178px;
            animation: blobMovment2 120s infinite linear;
            @media #{$lg} {
                display: block;
            }
        }
    }
    .leftSide {
        position: relative;
        flex-basis: 100%;
        z-index: 2;
        @media #{$sm} {
            display: none;
        }

        @media #{$lg} {
            display: block;
            flex-basis: 50%;
        }
        img {
            @media #{$lg} {
                position: absolute;
                top: 0;
                right: -1px;
                height: 360px;
            }
            @media #{$xl} {
                height: 430px;
            }
            @media #{$xxxxl} {
                height: 564px;
            }
        }
    }
    .rightSide {
        display: flex;
        flex-basis: 100%;
        background: $lblue;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        z-index: 2;
        @media #{$lg} {
            justify-content: flex-start;
            flex-basis: 50%;
            margin-top: 21px;
            height: 335px;
        }
        @media #{$xl} {
            margin-top: 26px;
            height: 400px;
        }
        @media #{$xxxxl} {
            margin-top: 33px;
            height: 525px;
        }
        .content {
            width: 530px;
            padding: 30px 15px;
            box-sizing: border-box;
            @media #{$lg} {
                padding: 15px 15px;
            }
            p {
                font-size: $text-small;
                line-height: 2.6em;
                @media #{$xl} {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
.moreQuestions {
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    z-index: 1;
    @media #{$lg} {
        min-height: 760px;
        margin-top: -120px;
        margin-bottom: -70px;
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        margin: 0 auto;
        width: 570px;
        height: 570px;
        border-radius: 50%;
        border: 1px dashed rgba($blue3, 0.4);
        content: "";
        z-index: -1;
        @media #{$md} {
            display: block;
            width: 800px;
            height: 800px;
        }
    }
    &.container {
        background-position: center center;
        background-size: 275px;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: row wrap;
        @media #{$md} {
            background-image: url("../../../../img/questions.svg");
        }
        @media #{$xl} {
            justify-content: space-between;
        }
        .col {
            display: flex;
            align-self: center;
            flex-flow: column nowrap;
            flex-basis: 100%;
            box-sizing: border-box;
            text-align: center;
            margin: 0 0 30px;
            @media #{$md} {
                flex-basis: 50%;
            }
            @media #{$xl} {
                flex-basis: 35%;
            }
            .kBtn {
                align-self: center;
            }
            p {
                max-width: 330px;
                margin: 0 auto 30px;
                font-size: $text-small;
                line-height: 2.6em;
                font-weight: 500;
                @media #{$xl} {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
