@import "../../../../colors.scss";
@import "../../../../responsiveBreakpoints.scss";

.tradesHistoryContent {
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-bottom: 20px;
    @media #{$lg} {
        margin-top: 37px;
        margin-bottom: 40px;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .tradesHistoryList {
        .box-placeholder {
            .line {
                margin-top: 6px;
                margin-bottom: 0;
                height: 34px;
            }
        }
        .flexTable {
            margin-bottom: 1em;
            .ftRow {
                border-top: none !important;
                &:first-child {
                    margin-top: 0;
                }
                .ftCol {
                    display: flex;
                    align-items: center;
                    .material-icons {
                        font-size: $text-big;
                        height: 16px;
                        width: 16px;
                        color: rgba($navy, 0.2);
                        &.up {
                            // color: $green;
                            transform: rotate(-90deg);
                        }
                        &.down {
                            // color: $red;
                            transform: rotate(90deg);
                        }
                    }
                    .operation {
                        margin-left: 5px;
                        .operationType {
                            font-size: $text-small;
                            color: $navy;
                        }
                        .operationTime {
                            font-size: $text-super-small;
                        }
                    }
                    .operationAmount {
                        &.up {
                            color: $green;
                        }
                        &.down {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}
