
.buyStep1{
  animation: introOpacityOnly 0.25s ease-in-out;
  width:100%;
  padding: 30px 40px 40px 40px;
  box-sizing:border-box;

  &.homepageTransaction{
    animation: intro 0.5s ease-in-out;
    padding:0;

    .kInput {
      .kInputInside {
        border: none;
      }

      &.active{
        .kInputInside {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .kInput{
    margin-bottom:25px;


    &:nth-child(2){
      margin-bottom:15px;
    }
  }

  .kBtn{
    .kBtnInner{
      .text{
        font-weight:600;
      }
    }
  }

  .timerBarWrapper{
    margin-bottom:15px;
  }
}
