@import "./../../colors";

.transactionDetails{
    display:flex;
    margin-bottom:10px;

    .transactionInfo{
        flex:1;
        margin-left:5px;
        background:$white;
        border:1px dashed rgba($navy, 0.2);
        font-weight:600;
        color:rgba($navy, 0.5);
        font-size:$text-medium;
        padding:10px 10px;
        box-sizing:border-box;
        text-align:center;
        border-radius:5px;
    }

    .kBtn.smallBackBtn{
        border-radius:5px;
        background:$white !important;
        border:1px solid rgba($blue, 0.3);
        color:rgba($blue, 0.75);
        box-shadow:none;

        &:hover{
            background:$blue !important;
            border:1px solid $blue;
            color:$white;
        }
    }
}
